@import '../../base_styles/colors';
@import '../../base_styles/fonts';

.project-container {
  margin: auto;
  width: 50%;

  p, li {
    font-family: $open-sans;
  }
}

.image-container {

  img {
    width: 80%;
  }
}

.project-title {
  font-family: $lato;
  font-weight: 900;
  font-size: 40px;
  margin-top: 20px;
}

.project-description {
  font-size: 20px;
  font-weight: 400;
  margin-top: 25px;
}

.links-container {
  margin-top: 10px;

  p {
    color: $mid-blue;
    display: inline-block;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 20px;
  }
}

.content-container {
  text-align: left;
  margin-top: 50px;

  .sub-header {
    font-family: $lato;
    font-size: 35px;
    font-weight: bold;
    margin-top: 20px;
  }

  p {
    margin-left: 10px;
    margin-top: 20px;
    font-size: 18px;
  }

  ul {
    margin-top: 15px;

    li {
      font-size: 18px;
      list-style-type: disc;
      line-height: 25px;
      margin-left: 30px;
    }
  }

}

.displayCenter {
  margin: 15px auto;
}

.read-more-text {
  border: none;
  background-color: none;
  background: none;
  color: $mid-blue;
  font-family: $raleway;
  font-size: 10px;
  margin-top: 10px;
}

.project-divider {
  width: 100%;
  margin: 20px auto;
}

@media only screen and (max-width: 1050px) {
  .image-container {
    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 850px) {
  .project-container {
    width: 60%;
  }
}

@media only screen and (max-width: 750px) {
  .project-container {
    width: 65%;
  }
}

@media only screen and (max-width: 550px) {
  .project-title {
    font-size: 35px;
  }

  .project-description {
    font-size: 18px;
  }

  .project-container {
    width: 75%;
  }

  .content-container {
    .sub-header {
      font-size: 25px;
    }
  }
}

@media only screen and (max-width: 375px) {
  .project-description {
    font-size: 15px;
  }
}
